md-progress-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

expansion-panel-content {
  overflow: hidden;
  height: 300px;
  display: block;
}

.tslint-embed {
  width: 100%;
  height: 522.8px;
  margin: -77px 0 -145.8px
}