md-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.app-title {
  margin-bottom: 4em;
}

.tslint-panel > /deep/ .expansion-panel > .expansion-panel__content {
  margin-left: 0;
}

.tslint-rule-plugin {
  float: right;
  margin-right: 2em;
}

.tslint-content {
  overflow-y: hidden;
  height: 300px;
  display: block;
}

.tslint-embed {
  width: 100%;
  height: 578.8px;
  margin: -150px 0 -145.8px;
  min-width: 550px;
}

.search-box {
  position: absolute;
  top: 2em;
  left: 0;

  &.sticky {
    top: 0;
    position: fixed;
    z-index: 1;
    background: rgba(255, 255, 255, 0.9)
  }
}