<md-progress-bar class="full-width"
                 mode="indeterminate"
                 *ngIf="processes?.length"></md-progress-bar>
<h1 class="mat-headline app-title">
  Tslint Explorer
</h1>
<md-input-container class="full-width mat-title search-box"
                    sticky
                    [stickyMin]="60">
  
  <md-chip-list mdPrefix>
    <md-chip color="accent"
            selected="true"
            [attr.title]="rules.length.toString().concat(' rule', rules.length > 1 ? 's' : '', ' found')">
      {{rules.length}}
    </md-chip>
    <md-icon>search</md-icon>
  </md-chip-list>
  <input type="text"
         mdInput
         placeholder="Filter rules by key"
         [(ngModel)]="keywords"
         (keyup)="keywordsChange($event)">
</md-input-container>
<expansion-panels-container>
  <expansion-panel>
    <expansion-panel-title>
      Upload rules file
    </expansion-panel-title>
    <expansion-panel-description-hidden>
      Expand to upload JSON file
    </expansion-panel-description-hidden>

    <expansion-panel-description-toggled>
      <button type="button"
              md-raised-button
              (click)="imgFileInput.click()">Add a JSON file</button>
      <input hidden
             type="file"
             #imgFileInput
             (change)="previewJSONFile(imgFileInput)"
             accept=".json" />
    </expansion-panel-description-toggled>
    <expansion-panel-content>
      <pre>
        <code mwlHighlightJs
              [source]="uploadedJSON"
              language="json">
        </code>
      </pre>
    </expansion-panel-content>
  </expansion-panel>
  <expansion-panel *ngFor="let rule of rules"
                   (onOpen)="activeRule(rule)"
                   (onClose)="processService.complete(rule.process)"
                   class="tslint-panel">
    <expansion-panel-title class="mat-typography">
      <strong>{{rule.key}}</strong>
      <md-chip-list class="tslint-rule-plugin">
        <md-chip *ngIf="!rule.plugin">tslint</md-chip>
        <md-chip *ngIf="rule.plugin"
                 color="primary"
                 selected="true">{{rule.plugin}}</md-chip>
      </md-chip-list>
    </expansion-panel-title>
    <expansion-panel-description-hidden>
      <em>
        {{rule.value}}
      </em>
    </expansion-panel-description-hidden>

    <expansion-panel-description-toggled>
      <pre>
        <code mwlHighlightJs
              [source]="rule.value"
              language="json">
        </code>
      </pre>
    </expansion-panel-description-toggled>
    <expansion-panel-content class="tslint-content">
      <ng-template [ngIf]="!rule.status">
        <button type="button"
                color="success"
                title="Approve this rule"
                (click)="approveRule(rule)"
                type="button"
                md-raised-button>
          <md-icon color="white">check</md-icon>
          Approve
        </button><br>
        <button type="button"
                color="danger"
                title="Remove this rule"
                (click)="removeRule(rule)"
                type="button"
                md-raised-button>
          <md-icon color="white">delete</md-icon>
          Remove
        </button><br>
        <button type="button"
                color="warning"
                title="Mark this rule as experimental"
                (click)="markRuleAsExperimental(rule)"
                type="button"
                md-raised-button>
          <md-icon color="white">feedback</md-icon>
          Experimental
        </button>
      </ng-template>
      <button *ngIf="rule.status === tslintRuleStatus?.APPROVED"
              type="button"
              color="success"
              title="This rule is approved"
              type="button"
              disabled
              md-raised-button>
        <md-icon color="white">check</md-icon>
        Approved
      </button><br>
      <button *ngIf="rule.status === tslintRuleStatus?.MARKED_AS_EXPERIMENTAL"
              type="button"
              color="warning"
              title="This rule is marked as experimental"
              type="button"
              disabled
              md-raised-button>
        <md-icon color="white">feedback</md-icon>
        Experimental
      </button>
      <iframe [src]="rule.url"
              frameborder="0"
              class="tslint-embed"
              (load)="processService.complete(rule.process)"></iframe>
    </expansion-panel-content>
  </expansion-panel>
</expansion-panels-container>