/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~highlight.js/styles/github.css";
.full-width {
  width: 100%!important;
}

.mat-raised-button {
  &.mat-danger {
    background: #f44336;
    color: white;
  }

  &.mat-warning {
    background: #ffc107;
    color: white;
  }

  &.mat-success {
    background: #4caf50;
    color: white;
  }

}

.mat-white {
  color: white;
}